body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#6f5a40;
}

h1, h2, h3 {
  font-family: "LatoRegular";
}

/* Generic containers, setting same background color */
.remark-container {
  background:#e48632;
}
.remark-slide-content {
  background:#FFFFFF;
}

 /* Remove drop shadow */
.remark-slide-scaler {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

